<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5ed34ed2-9220-48b5-96e7-2802e21f9d1e/resourceGroups/acecambodia/providers/Microsoft.Web/sites/acelisteningtest</ResourceId>
    <ResourceGroup>acecambodia</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://acelisteningtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>acelisteningtest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>acelisteningtest</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$acelisteningtest</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>